<div id="{{data.id}}" class="link {{data.state}}" data-grid="{{data.grid}}" ng-style="linkStyle()">
	<div class="state-paste-url"  ng-show="checkState('paste-url')" ng-style="{
		height : grids.gridHeight
	}">
		<span data-icon="g" ng-style="{
			display:block,
			top : grids.linkSize.height / 2 - 8
		}">
			<input placeholder="Paste url here" ng-style="{
				width : grids.linkSize.width - 45,
				height : grids.linkSize.height - 10,
				top : 0
			}" xng-focus="data.state.focus" value="" ng-paste="onPasted($event.originalEvent.clipboardData.getData('text/plain'))" />
		</span>
		
	</div>
	<div class="state-loading" ng-show="checkState('loading')">
		<!-- <span data-icon="g" ng-style="{
			display:block,
			top : grids.linkSize.height / 2 - 10,
			height : grids.linkSize.height - 10
		}"> -->
		<img class="loader" src="img/loader-1.gif" ng-style="{
			top : grids.linkSize.height / 2 - 3,
			height : grids.linkSize.height - 14 
		}" alt="">
		<span ng-style="{
			display:block,
			top : grids.linkSize.height / 2 - 10,
			height : grids.linkSize.height - 10
		}">
			<p class="url" ng-style="{
				width : grids.linkSize.width - 35
			}">{{data.url}}</p>	
		</span>
		<!-- </span> -->
	</div>
	<div class="state-ready" ng-show="checkState('ready')" ng-style="{
		height : grids.gridHeight
	}">
		<div class="link-body" ng-style="{
		height : grids.gridHeight
	}">
			<div class="icon" style="" ng-show="data.view === 'default'">
				<img class="ico" ng-src="{{data.ico}}" alt="">
			</div>
			
			<div class="icon-video" ng-show="data.view === 'video'">
				<span data-icon="l"></span>
			</div>

			<div class="icon-doc" ng-show="data.view === 'doc'">
				<span data-icon="R"></span>
			</div>

			<a class="title" target="_blank" ng-style="{
				width : grids.linkSize.width - 35,
				lineHeight : grids.gridHeight + 3 + 'px'
			}">{{data.title}}</a>

			<div class="opt" ng-show="showOpt">
				<a data-icon="q" ng-click="removeLink()"></a>
				<!-- <a data-icon="c" href="{{data.url}}" target="_blank"></a>
				<a data-icon="w"></a> -->
				<div class="bg"></div>
			</div>
		</div>
		<div class="link-details {{data.view}}" ng-show="showDetail && (data.dragging == false || data.dragging == 'false')">
			<div class="arrow arrow-up"></div>
			<div class="arrow arrow-down"></div>
			<div class="spacer"></div>

			<div class="funcs">
				<span data-icon="C" ng-click="openPage()" ng-show="data.allowIframe"></span>
				<span data-icon="p"></span>
				<span data-icon="H" ng-show="view === 'video'"></span>
			</div>

			<div class="detail-wrap {{data.view}}">
				
				<div class="texts">
					<h1>{{data.title}}<!-- <p><a class="from external" href="www.youtube.com" target="_blank">{{data.meta.url.host}}</a></p> --></h1>
					<!-- <p class="desc">{{data.meta.description}}</p>	 -->
					<div class="more">
						<div class="arrow-right"></div>
						<a href="{{data.url}}" target="_blank">Go To URL</a>	
					</div>
				</div>	
				
				<div class="img">
					<img class="thumb" ng-src="{{data.thumb}}">
					<span class="thumb-icon" data-icon="l" ng-show="data.view == 'video'">
					</span>	
					<div class="video-bg" ng-show="data.view == 'video'"></div>
				</div>
			</div>
		</div>
	</div>
</div>
