@gridWidth : 150px;
@gridHeight : 30px;
@gridVPadding : 10px;
@gridHPadding : 10px;
@gridPadding : 10px;
@folderHeight : 4*@gridHeight + 3*@gridPadding;

body{
	//** overflow-y : hidden defined in inline html;
}

#board{
    //background: darken(@bg-color, 15%);
    position: relative;
    top:50px;
    //overflow-y : hidden;
    .external{
      padding-right:22px;
      background:url(../img/icon-external-link.gif) right center no-repeat;
      background-size: 18px 12px;
    }
}
#desktop-view{
  top : 0px;
  width:100%;
  min-height: 100%;
  position:absolute;
  overflow:hidden;
  overflow-y: auto;
  z-index: 1;
  background: @bg-color;

	@sideWidth : 90px;
	#topbar{

	  @c : darken(@blue, 10%);
	  @color1 : darken(@bg-color, 35%);
	  @color2 : #666666;
	  position:relative;
	  height: 45px;
	  width:100%;
	  //-webkit-box-shadow: 0 3px 5px 5px lighten(@dark, 40%);
	  //box-shadow: 0 3px 5px 3px  lighten(@dark, 60%);
	  //background: lighten(@red, 30%);
	  //background : darken(@bg-color, 75%);
	  background: lighten(@dark, 10%);
	  position: fixed;
	  left:0;
	  top:0;
	  z-index:500;
	  //border-bottom : 1px solid darken(@bg-color, 5%);
	  .bg-left{
	    height : 45px;
	    position: absolute;
	    left : 0;
	    top : 0;
	    //background: darken(@dark, 0%);
	  }
	  .search{
	    position:relative;
	    left : @sideWidth;
	    top : ~"calc(50% - 10px)";
	    width : 200px;
	    height : 20px;

	    ::-webkit-input-placeholder {
	       color: white;
	    }

	    :-moz-placeholder { /* Firefox 18- */
	       color: white;  
	    }

	    ::-moz-placeholder {  /* Firefox 19+ */
	       color: white;  
	    }

	    :-ms-input-placeholder {  
	       color: white;  
	    }


	    input{
	      border : 0px solid @color2;
	      .border-radius(3px);
	      width : 180px;
	      height : 20px;      
	      background: lighten(@dark, 30%);
	      padding:0;
	      padding-left : 10px;
	    }
	    //search icon
	    span{
	      position:absolute;
	      right : 0px;
	      display: block;
	      top : 4px;
	      font-size:10px;
	      color : lighten(@dark, 10%);
	    }
	  }
	  .home{
	    position: absolute;
	    left : @sideWidth + 200px;
	    top : 15px;
	    width : 30px;
	    span{
	      color: lighten(@dark, 30%);
	      font-size:20px;
	      display: block;
	    }
	  }
	  .icon{
	    color: lighten(@dark, 30%);
	    font-size:20px;
	    position:relative;
	    top:~"calc(50% - 10px)";
	    left : @sideWidth;
	  }
	  .logo{
	    color: @c;
	    font-size:25px;
	    position:relative;
	    top:5px;
	    left : @sideWidth + 10px;
	    letter-spacing: 2px;
	    //text-shadow: -1px -1px 0px #999;
	  }
	  .funcs-1{
	    width : 300px;
	    position: absolute;
	    right:@sideWidth;
	    top : ~"calc(50% - 12px)";
	    a{
	      float:right;
	      display: block;
	      margin-left : 10px;
	      color: lighten(@dark, 10%);
	      //color: white;
	      background: lighten(@dark, 30%);
	      font-size:10px;
	      padding:5px 5px 3px 5px;
	      border : 1px solid lighten(@dark, 10%);
	      .border-radius(3px);
	      &:hover{
	        color : white;
	      };
	    }
	  }
	  div.funcs{
	    height:100%;
	    position:absolute;
	    right:17px;
	    top:17px;
	    .add25{
	      fill : #ffffff;
	    }
	  }
	}
}

.link{
	@h :30px;
	@w : 310px;
	@grey : #c7c7c7;
	@grey-dark : #999;

	position:absolute;
	width: @w;
	border:0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px;
	.shadow-light;
	background: white;
	z-index:10;
	cursor:pointer;

	.state-paste-url, .state-loading{
        position:relative;
        p.url{
          
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size:14px;
	      line-height:25px;
	      height: 25px;
	      padding-left : 33px;
          //top : ~"calc(50% - 5px)";
          color : #999999;
        }
        img.loader{
          position:absolute;
          display: none;
          left : 7px;
          top : ~"calc(50% - 3px)";
        }
        .no-icon{
        	width:12px;
			height:12px;
			position: absolute;
			left : 7px;
			z-index: 1;
			background: lighten(@blue, 40%);
        }
        span{

            font-size:20px;
            left:7px;
            display: block;
            position:absolute;
            color : darken(@blue, 10%);
        }

        input{
          border:0;
          background: darken(@bg-color, 3%);
          top : 5px;
          position: absolute;
          left : 20px;
          .border-radius(3px);
          height : 20px;
          padding-left:10px;

          ::-webkit-input-placeholder {
             color : lighten(@dark, 20%);
          }

          :-moz-placeholder { /* Firefox 18- */
             color : lighten(@dark, 20%);
          }

          ::-moz-placeholder {  /* Firefox 19+ */
             color : lighten(@dark, 20%);
          }

          :-ms-input-placeholder {  
             color : lighten(@dark, 20%);
          }
        }
    }
    
    .state-ready{
        .link-body{

	        &:hover{
	          .opt{
	            display: block;
	          }
	        }
	        .icon{
	            height:@h;
	            width:26px;
	            overflow: hidden;
	            img{
	              width:14px;
	              height:14px;
	              position: relative;
	              left : ~"calc(50% - 7px)";
	              top : ~"calc(50% - 8px)";
	              z-index: 1;
	            }
	        }
	        .no-icon{
	        	width:12px;
				height:12px;
				position: absolute;
				left : 7px;
				z-index: 1;
				background: lighten(@blue, 30%);
	        }
	        .icon-video{
	        	height:100%;
	            width:5px;
	            overflow: hidden;
				-webkit-border-radius: 5px; 
				-moz-border-radius: 5px; 
				border-radius: 5px; 
	            background: lighten(@orange, 10%);
	            position: absolute;
	            right : 0px;
	            top : 0px;
	            z-index: 0;
	            span{
	            	color : darken(@orange, 30%);
					font-size : 15px;
					display: block;
					position: absolute;
					left : ~"calc(50% - 7px)";
					top : ~"calc(50% - 7px)";
	            }
	        }
	        .icon-doc{
	        	height:@h - 4;
	            width:26px;
	            overflow: hidden;
	            background: @gblue;
	            position: relative;
	            span{
	            	color : lighten(@gblue, 30%);
					font-size : 15px;
					display: block;
					position: absolute;
					left : ~"calc(50% - 7px)";
					top : ~"calc(50% - 7px)";
	            }
	        }
	        a.title{
	            color:#333;
	            text-decoration:none;
	            font-size:14px;
	            line-height:@h;
	            position:absolute;
	            left:33px;
	            top:0;
	            width:@w - 35px;
	            white-space: nowrap;
	            overflow: hidden;
	            text-overflow: ellipsis;
	        }
	        .opt{
				position:absolute;
				right : 0px;
				height:100%;
				top:0;
				width:30px;
				display: none;
	            .bg{
	              background: lighten(@dark, 30%);
	              opacity: 1;
	              width:100%;
	              height:100%;
	            }
	            a{
					z-index: 10;
					float:right;
					margin : 0px;
					cursor:pointer;
					font-size:12px;
					color: white;
					position: relative;
					height:100%;
					width:30px;
					line-height: 100%;
					background: none;
					opacity: 1;
					&[data-icon]:before{
					position:relative;
					left : (30px - 12px) / 2;
					top : ~"calc(50% - 6px)";
					}

		            &:hover{
		              background: @blue;
			          &:first-child{
			            background: @red;
			          }
			        }
	            }
	          }
	        }
      }
	
	&.google-search .state-ready{
        .link-body{
        	
        }
	}

	&:hover{
		z-index: 100;
	};

	.link-details{
	    @size : 10px;
	    @w1 : 330px;
	    @h1 : 300px;
	    position: absolute;
	    top: @h;
	    left : (@w - @w1) / 2;
	    width:@w1;
	    //height:@h1;
	    .funcs{
			position:absolute;
			left : 10px;
			top : 18px;
			z-index: 200;
			span{
				display: block;
				float:left;
				padding-right : 9px;
				color : lighten(@dark, 55%);
				font-size:9px;
				&:hover{
					color : white;
				};
			}
		}

		@size1 : calc((@w1 - 330px)/2);
	    .detail-wrap{
			position: relative;
			top:10px;
			padding:0;
			margin:0;
			.shadow-light;
			
			.close-btn{
				width : 30px;
				height: 30px;
				background: @blue;
				position: absolute;
				right : -30px;
				top : 0;
				span{
					color : white;
					font-size : 25px;
					display: block;
					position: absolute;
					left : ~"calc(50% - 12.5px)";
					top : ~"calc(50% - 12.5px)";
				}
			}
			.texts{
				margin-left:0px;
				margin-bottom:@size1;
				padding-top:5px;
				position:relative;
				background: lighten(@dark, 15%);
				h1{
					padding-top:27px;
					padding-bottom:5px;
					padding-left : 10px;
					padding-right : 10px;
					font-size:14px;
					color : lighten(@dark, 75%);
					line-height: 18px;
					font-weight: bold;
					p{
					  padding-top:5px;
					}
					a.from{
					  color:#888;
					  font-size:12px; 
					}
				}
				p.desc{
					padding-top:15px;
					padding-bottom:25px;
					line-height: 19px;
					color:#444;
				}
				div.more{
					position:absolute;
					right:5px;
					top : 10px;
					div.arrow-right{
						width: 0; 
						height: 0; 
						border-top: 5px solid transparent;
						border-bottom: 5px solid transparent;
						border-left: 5px solid lighten(@dark, 55%);
						position:absolute;
						right:4px;
						top:1px;
					}
					a{
					  padding-right:15px;
					  z-index: 200;
					  color : lighten(@dark, 55%);
					  &:hover{
					  	color : white;
					  };
					}
				}
			}

			.img{
				position: relative;
				background: white;
				img.thumb{
				  width:@w1;
				  cursor:default;
				  &.icon-hover{
					.alpha(0.7);
				  }
				}
				span.thumb-icon{
					cursor: pointer;
					position: absolute;
					font-size : 80px;
					width : 80px;
					height : 80px;
					color: lighten(@orange, 10%);
					left : ~"calc(50% - 40px)";
					top : ~"calc(50% - 50px)";
					z-index: 102;
					&:hover{
						color : lighten(@orange, 40%);
					};
				}
				div.video-bg{
					position: absolute;
					width : 60px;
					height: 40px;
					background : darken(@orange, 30%);
					left : ~"calc(50% - 30px)";
					top : ~"calc(50% - 30px)";
					z-index: 101;
				};
			}

			.player-holder{
				background: black;
			}

			.search{
				background: white;
				font-family: "Droid Sans";
				list-style-type: none;
				padding:0;
				li{
					padding-top : 10px;
					padding-bottom : 10px;
					border-bottom : 1px solid lighten(@dark, 70%);
					margin:0;
					padding-left : 10px;
					padding-right : 10px;
					position: relative;
					display: block;
					a{
						font-size : 14px;
						line-height: 20px;
						color : @dark;
						text-decoration: none;
						padding-bottom : 7px;
						padding-top : 7px;
					}
					a:visited{
						color : @red;
					}
					span{
						line-height: 20px;
						padding-left : 10px;
						font-size : 12px;
						color : lighten(@dark, 45%);
					}
					&:hover{
						background: @blue;
						a{
							color : white;
						}
						span{
							color : lighten(@blue, 25%);
						}
						span.remove{
							color : darken(@blue, 30%);
							&:hover{
								color : white;
							};
						}
					};
					span.remove{
						width : 20px;
						height : 20px;
						display: block;
						position: absolute;
						right : 10px;
						bottom : 5px;
						color : lighten(@blue, 30%);
						font-size : 20px;
						&:hover{
							color : lighten(@dark, 30%);
						};
					}
				}
			}
	    }

	    .spacer{
	    	width : 100%;
			height : 20px;
			position: absolute;
			z-index: 0;
			top : -10px;
			left : 0;
	    }

	    .arrow-up{
	        width: 0; 
	        height: 0; 
	        border-left: @size solid transparent;
	        border-right: @size solid transparent;
	        
	        border-bottom: @size solid lighten(@dark, 15%);
	        position: absolute;
	        top:0;
	        left : calc((@w1 - @size)/2);
	    }
	    .arrow-down{
	        display: none;
	        width: 0; 
	        height: 0; 
	        border-left: 20px solid transparent;
	        border-right: 20px solid transparent;
	        
	        border-top: 20px solid #f00;
	    }

	    &.video{
	    	
	    }
	}	
}

#drag-containment{
	width : ~"calc(100% - 100px)";
	height : 100%;
	left : 50px;
	position: fixed;
	z-index: -10;
}

.folder{
    @size : 4*@gridHeight + 3*@gridVPadding;
    position:absolute;
    width : 150px;
    height : @size;
    background: lighten(@blue, 10%);
    // background: @blue url(../img/icons-3/SVG/folder12.svg) center 0px no-repeat;
    // background-size:@size*0.7;
    z-index:2;
    .alpha(0.85);
    cursor : pointer;
    .shadow-light;
    overflow: hidden;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px;
    
    div.close{
      display: none;
    }
    span.icon{
      position:absolute;
      font-size:50px;
      left : ~"calc(50% - 25px)";
      top : 30px;
      color : darken(@blue, 30%);
    }
    &.video{
      background: lighten(@orange, 10%);
      color : darken(@orange, 40%);
      span.icon{
        color : darken(@orange, 40%);
      }
    }
    &.googleSearch{
      background: lighten(@yellow, 10%);
      color : darken(@yellow, 40%);
      span.icon{
        color : darken(@yellow, 40%);
      }
    }
    &.stackOverflow{
      // background: @blue url(../img/icons-3/SVG/movie3.svg) center 0px no-repeat;
      // background-size:@size*0.7;
      background: lighten(@green, 10%);
      .name{
        color:darken(@green, 70%); 
      }
      // &:after{
      //   position:absolute;
      //   width:16px;
      //   height:16px;
      //   background: url(http://www.youtube.com/favicon.ico) left top no-repeat;
      //   content : "";
      //   right : 10px;
      //   top : 10px;
      // }
      span.icon{
        color : darken(@green, 50%);
      }
    }
    .name{
      display: block;
      position: absolute;
      font-size:13.5px;
      text-align: left;
      line-height:15px;
      padding:0 15px 0 15px;
      bottom: 10px;
      height : 45px;
      overflow: hidden;
      //width:150px - 10px;
      //white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 400;
      .name{
        color:darken(@blue, 50%); 
      }
    }
    &.selected{
      background: white;
      .alpha(1);
      div.close{
        //display: block;
        position: absolute;
        right : 5px;
        top : 5px;
        font-size:20px;
        //color : darken(@red, 15%);
        color : black;
      }
    };
}

#folder-drop-preview, #link-drop-preview{
	position : absolute;
	background: darken(@bg-color, 5%);
	z-index: 1;
}

#gridLines{

	width:100%;
	height:100%;
	//display:none;
	position:absolute;
	&.showGrid>li{
		.alpha(0.4);
	}
	&.hideGrid>li{
		.alpha(0.1);
	}
	li{
		display: block;
		position:absolute;
		z-index: 2;
		margin:0;
		padding:0;
		pointer-events:none;
		&.hline{
			width: 100%;
			height:@gridHeight;
			left : 0;
			border-top : 1px solid darken(@bg-color, 25%);
			border-bottom : 1px solid darken(@bg-color, 25%);
		}
		&.vline{
			width : @gridWidth;
			height : 100%;
			top : 0;
			border-left : 1px solid darken(@bg-color, 25%); 
			border-right : 1px solid darken(@bg-color, 25%);
		}
		&.over{
		  background:blue;
		}
	}
}

#browser{
	width : 100%;
	height : 100%;
	position: fixed;
	left : 0;
	top : 0;
	z-index: 501;
	.holder{
		width : 80%;
		height : 100%;
		z-index: 203;
		position: fixed;
		left : 10%;
		background: white;
	}
	.iframe-wrap{
		z-index: 203;
		position: absolute;
		width : 80%;
		height : 100%;
		overflow-x : hidden;
		left : 10%;
		background: white;
		iframe {
			position: absolute;
			height : 100%;
			width : ~"calc(100% + 20px)";
			left : 0%;
		};
	}
	.bg{
		position: fixed;
		width : 100%;
		height: 100%;
		z-index: 202;
		left : 0;
		top : 0;
		background: @dark;
		.alpha(0.8);
	}
	.btns{
		position: absolute;
		right : ~"calc(10% - 60px)";
		top : 0px;
		width : 60px;
		height : 500px;
		z-index: 203;
		.btn{
			float:right;
			width : 60px;
			height : 60px;
			background: @blue;
			position: relative;
			span{
				position: absolute;
				font-size : 40px;
				left : ~"calc(50% - 20px)";
				top : ~"calc(50% - 20px)";
				color : lighten(@blue, 35%);
				cursor: pointer;
				&:hover{
					color : white;
				};
			}
		}
	}
}

.menu{
	display: none;
}

#bg-loading{
	width : 100%;
	height : 100%;
	position: fixed;
	background: url(../img/country-road.jpg) center center no-repeat;
	z-index: 1000;
	.bar{
		width : 100%;
		height : 3px;
		background: @green;
		display: none;
	}
}