@import "reset.css";
@import "lib";
//@import "icons";
@import "linklies-font-1/styles.css";
@import "theme";
@import "ui";

#topbar{
	@c : darken(@blue, 10%);
	@color1 : darken(@bg-color, 35%);
	@color2 : #666666;
	width: 100%;
	background: lighten(@dark, 10%);
	position: fixed;
	left:0;
	height : 38px;
	top:-36px;
	z-index:500;
	position: absolute;
	.shadow-light;
}
#links-container{
	position: fixed;
	left : 0;
	top : 0;
	width : 100%;
	height : 100%;
	background: darken(@bg-color, 10%);
	li.link{
		display: block;
		position: absolute;
		background: #eeeeee;
		.shadow-light;
		display: none;
	
		div.iframe-wrap{
			width : 100%;
			height : 100%;
			position: relative;
			@h : 60px;
			ul.options{
				display: none;
				position: absolute;
				right : -@h;
				top : 0;
				width: @h;
				height : 100%;
				li{
					position: relative;
					position: block;
					width : @h;
					height: @h;
					left : 0;
					top : 0;
					background: @orange;
					&::before{
						position: absolute;
						width : @h - 20px;
						height : @h - 20px;
						font-size: @h - 20px;
						color : white;
						left : 10px;
						top : 10px;
					};
					&.full-screen{
					}
				}
			}
			iframe{
				position: absolute;
				left : 0;
				top : 0;
				width : 100%;
				height : 100%;
			}
		}
		div.img-view, div.video-view, div.config{
			display: none;
		}
		div.no-iframe{
			position: absolute;
			display: none;
			width : 100%;
			height: 100%;
			left : 0;
			top : 0;
			div.qr-holder{

				display: none;

				position: absolute;
				right : 12px;
				bottom : 12px;
				width : 100px;
				height : 100px;
				.shorten-url{
					display: block;
					position: absolute;
					width : 200px;
					left : 110px;
					top : 20px;
					.url{
						font-size: 16px;
					}
				}
			}
			div.logo-wrap{
				display: none;
				position : absolute;
				width : 100px;
				height : 100px;
				left : 35px;
				top : -10px;
			}
			h1{
				font-size : 20px;
				//color : lighten(@dark, 0%);
				color : darken(@red, 5%);
				text-align:left;
				padding : 8% 40% 0 15%;
				line-height: 26px;
				font-weight: bold;
				&::before{
					position: relative;
					left : -2px;
				};
				a{
					font-weight: normal;
					//color : lighten(@red, 5%);
					color : lighten(@dark, 15%);
					padding-left : 0px;
					position: relative;
					span{
						font-size : 20px;
					}
					span.title{
						font-weight: normal;
						padding-left : 3px;
						color : lighten(@dark, 15%);
						text-decoration: none;
					}
					span.icon::before{
						position: relative;
						top : 3px;
						left : 10px;
						display: none;
					}
					&:hover{
						span.title{
							text-decoration: underline;
						}
						span.icon::before{
							display: inline;
						};
					};
				}
			}
		}
		div.img-holder{
			img{
				margin-top : 1%;
				width : 75%;
				// position: absolute;
				// left : 10%;
				// display: none;
			}	
		}
		div.hover-overlay{
			position: absolute;
			left : 0;
			top : 0;
			width : 100%;
			height : 100%;
			z-index: 10;
			background: none;
		}
	}
	li.link.useIframe{
		div.no-iframe{
			display: block;
		}
	}
	li.link.img{
		div.img-view{
			display: block;
		}
	}
	li.link.video{
		div.video-view{
			position: absolute;
			left : 0;
			top : 0;
			z-index: 100;
			display: block;
			width : 100%;
			height : 100%;
			iframe{

			}
		}
	}

	li.current, li.prev, li.next{
		display: block;
	}
	li.prev, li.next{
		.hover-overlay{
		}
		&:hover{
			.hover-overlay{
				// background: lighten(@green, 20%);
				// .alpha(0.7);
			}
		};
	}
	li.current{
		left : 15%;
		top : 0;
		width : 70%;
		height: 100%;
		cursor : default;
		.hover-overlay{
			display: none;
		}
	}
	li.prev{
		top : 5%;
		left : -80%;
		height : 90%;
		width : 90%;
	}
	li.next{
		top : 5%;
		height : 90%;
		width : 90%;
		left : 90%;
	}
}

#paginator{
	position: fixed;
	left : 15%;
	top : 0%;
	height : 50px;
	background: @dark;
	.shadow-light;
	p{
		position: relative;
		.ico{
			width : 25px;
			height : 25px;
			position: absolute;
			top : 12.5px;
			left : 20px;
		}
		padding : 0 30px 0 60px;
		text-align: right;
		line-height: 50px;
		span{
			font-size : 20px;
			color : lighten(@dark, 30%);
		}
		span.current{
			padding-left : 15px;
			color : white;
		}
		span.title{
			color : lighten(@dark, 60%);
		}
		span.total{
			color : lighten(@dark, 30%);
		}
		/*ul.page-bar{
			display: block;
			position: absolute;
			height : 20px;
			right : 0;
			bottom : -20px;
			li{
				width : 10px;
				height : 3px;
				background: @dark;
				display: block;
				float : right;
				position: relative;
				top : 5px;
			}
			li.on{
				background: lighten(@dark, 40%);
			}
		}*/
	}
}

#arrows{
	width : 100%;
	height : 100%;
	>div{
		//color : lighten(@dark, 30%);
		color : darken(@bg-color, 20%);
		position: absolute;
		width: 60px;
		height: 60px;
		top : 45%;
		font-size : 70px;
	}
	@w : 10%;
	.left{
		left : ~"calc(15% - 80px)";
	}
	.right{
		right : ~"calc(15% - 70px)";
	}
}