.shadow-light{
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.1);
}

.hide{
  display: none;
}
.alpha(@a){
  filter:~"alpha(opacity=(@a*100))";
  -moz-opacity:@a;
  -khtml-opacity:@a;
  opacity:@a;
}

.border-radius(@a){
  border-radius:@a; 
  -webkit-border-radius:@a; 
  -moz-border-radius:@a;
}

// .shadow(@x, @y, @blur, @alpha){
//   -webkit-box-shadow:@x @y @blur rgba(0,0,0,@alpha); 
//   -moz-box-shadow:@x @y @blur rgba(0,0,0,@alpha);
//   box-shadow:@x @y @blur rgba(0,0,0,@alpha);
// }

.gradient(@from, @to){
  background: @from; /* Old browsers */
  background: -moz-linear-gradient(top,  @from 0%, @to 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@from), color-stop(100%,@to)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  @from 0%,@to 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  @from 0%,@to 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  @from 0%,@to 100%); /* IE10+ */
  background: linear-gradient(to bottom,  @from 0%,@to 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@from', endColorstr='@to',GradientType=0 ); /* IE6-9 */
}

.text-shadow(@x,@y,@blur,@color){
  text-shadow: @x @y @blur @color;
  filter: dropshadow(color=@color, offx=@x, offy=@y);
}

.auto-trim{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -moz-binding: url('ellipsis.xml#ellipsis');
}

