@import "theme";
@import "lib";

body, html{
	background: @bg-color;
}
.link-popup{
	.panel{
		@w : 800px;
		@h : 550px;
		background: white;
		width : @w;
		height : @h;
		position: fixed;
		z-index: 2;
		left : calc(~"50%" - @w/2);
		top : calc(~"50%" - @h/2);
		.shadow-medium;

		ul.tabs{
			position: absolute;
			top : -30px;
			left : 0;
			li{
				height : 30px;
				display: block;
				float : left;
				background: white;
				padding : 5px 20px 0px 20px;
				line-height: 25px;
				font-size : 14px;
				color : @dark;
				cursor: pointer;
				&.selected{
					background: #eaeaea;
				}
			}
		}
		.edit{
			textarea{
				width : @w - 50px;
				height : 60px;
				margin : 0;
				position: relative;
				left : 15px;
				top : 25px;
				border : 1px solid #eaeaea;
				padding: 3px 10px 3px 10px;
				&:focus{
					border : 2px solid @blue;
				}
			}
			.imgs{
				position: absolute;
				top: 100px;
				left : 15px;
				overflow-x: hidden;
				overflow-y:auto;
				height : 350px;
				img{
					height : 200px;
					float : left;
					margin: 0 10px 10px 0;
					&.selected{
					}
				}
				.selected-border{
					position: absolute;
					z-index: 3;
					border : 10px solid @red;
				}
			}
			.img-count{
				position: absolute;
				left : 15px;
				bottom : 15px;
				span.count{
					font-weight: bold;
				}
			}
		}
		.share{
			display: none;
			p.short-url{
				position: relative;
				padding : 45px 15px 10px 15px;
				span{
					font-size: 30px;
					background: #eaeaea;
					padding: 0 5px 0 5px;
				}
			}
			p.clicks{
				display: block;
				position: absolute;
				right : 20px;
				top : 25px;
				font-size : 16px;
				color : lighten(@dark, 40%);
				span{
					color : lighten(@dark, 40%);
					font-size: 60px;
				}
			}
			textarea.say-something{
				width : @w - 45;
				height : 130px;
				position: absolute;
				top : 90px;
				left : 15px;
				&[placeholder]{
					padding : 5px 0 0 10px;
					font-size: 16px;
				}
			}
			.img-wrap{
				position: absolute;
				left : 15px;
				bottom : 50px;
				width : @w - 30;
				img{
					height : 250px;
					float : left;
					margin-right: 10px;
				}
				p.title{
					font-size : 24px;
					line-height: 28px;
					padding : 0 0 10px 0;
				}
				p.desc{
					font-size : 14px;
					line-height: 18px;
				}
			}
		}
		.btns{
			position: absolute;
			right : 15px;
			bottom : 15px;
		}
	}
	.overlay{
		width : 100%;
		height : 100%;
		position: fixed;
		z-index: 1;
		background: black;
		.alpha(0.2);
	}
}