.link-list{
	position: fixed;
	z-index: 600;
	width : 420px;
	height : 100%;
	left : 0;
	top : 0px;
	@h : 38px;
	div.holder{
		position:absolute;
		left : 10px;
		top : 0;
		width : 400px;
		height : 100%;
		background: white;
		opacity: 1;
		.shadow-light;

		.arrow{
			position: absolute;
			top : 10px;
		}

		.arrow-right {
			width: 0; 
			height: 0; 
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			
			border-left: 10px solid white;
			right : -10px;
		}

		.arrow-left {
			width: 0; 
			height: 0; 
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent; 
			
			border-right:10px solid white; 
			left : -10px;
		}

		ul.top-buttons{
			height : @h;
			border-bottom : 1px solid lighten(@dark, 70%);
			li{
				height : @h;
				width : 50%;
				display: block;
				position: absolute;
				a{
					display: block;
					width : 100%;
					height : 100%;
					line-height: @h;
					>span{
						font-size : 16px;
						color : lighten(@dark, 40%);
						>span{
							font-size : 14px;
							padding-left : 3px;
						}
						&::before{
							vertical-align: middle;
						};
					}
					&:hover{
						background: lighten(@dark, 70%);
						span{
							color : black;
						}
					};
				}
			}
			li.left{
				left : 0;
				border-right : 1px solid lighten(@dark, 70%);
			}
			li.right{
				right : 0;
			}
		}
		>ul.link-list-items{
			margin-top : 20px;
			display: block;
			width : 100%;
			>li{
				position: relative;
				margin : 0px;
				height : 25px;
				padding-left : 7px;
				//border-left : 3px solid white;
				img{
					height : 15px;
					width : 15px;
					position: relative;
					top : 5px;
					left : 5px;
				}
				a.title{
					width : 80%;
					white-space: nowrap;
			        overflow: hidden;
			        text-overflow: ellipsis;
					display: block;
					line-height: 25px;
					height: 25px;
					position: absolute;
					left : 35px;
					top : 0;
					font-size: 14px;
					color : lighten(@dark, 5%);
				}
				a.icon{
					width : 10px;
					height : 10px;
					position: absolute;
					right : 30px;
					top : 7px;
					&:hover{
						i{
							display: block !important;
						}
					};
					i{
						color : lighten(@dark, 5%);
						display: none;
						&.hover{
							display: block;
						}
					}
				}
				div.menu{
					cursor: pointer;
					position: absolute;
					right : 10px;
					top : 7px;
					width : 10px;
					height : 10px;
					color : lighten(@dark, 50%);
					margin:0;
					padding: 0;
					background: white;
					ul{
						@h : 30px;
						display: none;
						position: absolute;
						width : 90px;
						left : 0px;
						top : 9px;
						.shadow-light;
						z-index: 200;
						li{
							height : @h;
							margin:0;
							font-size : 14px;
							background: white;
							//border-left : 3px solid white;
							a{
								width : 100%;
								height : @h;
								line-height: @h;
								margin:0;
								color : lighten(@dark, 10%);
							}
							&:before{
								padding:0;
								margin:0;
								padding-left : 5px;
								position:relative;
								top : 4px;
							};
							&:hover{
								//border-left : 3px solid @green;
								background: lighten(@dark, 80%);
							};
						}
					}
					&:hover{
						color : lighten(@dark, 5%);
						>ul{
							//display: block;
						}
					};
				}
				border-bottom : 1px solid white;
				border-top : 1px solid white;
				&:hover, &.hover{
					background: lighten(@dark, 80%);
					border-bottom : 1px solid lighten(@dark, 70%);
					border-top : 1px solid lighten(@dark, 70%);
					//border-left : 3px solid @green;
					>i{
						//display: block;
					}
				};
			}
		}
	}
}