@import "lib";

body, html{
  width:100%;
  height:100%;
  *{
    font-family:"Tauri", "微軟正黑體";
    font-size:12px;
  }
  a{
    text-decoration: none;
  }
}

@c1 : #518C7C;
@c2 : #C6D9B4;
@c3 : #EDF2C4;
@c4 : #A6986D;
#color-theme{
  position: absolute;
  right:10px;
  bottom:10px;
  li{
    display: block;
    width:40px;
    height:40px;
    float:left;
    margin-right:5px;
  }
}

#desktop-view{
  width:100%;
  height:100%;
  position:relative;
  background: url(../img/bg-blur-1.jpg); 
}
.shadow{
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}

.msg-box{
  @w : 300px;
  @h : 100px;
  @size : 10px;
  width:@w;
  height:@h;
  position: absolute;
  background:white;
  top : @size;
  left : ~'calc(50% - @{w}/2)';
  .shadow;

  p.msg-body{
    text-align: center;
    line-height: @h;
  }

  div.arrow-up{
    width: 0; 
    height: 0; 
    border-left: @size solid transparent;
    border-right: @size solid transparent;
    
    border-bottom: @size solid white;
    position: absolute;
    top:-@size+1px;
    left : calc((@w - @size)/2);
  }

}

h1.links-left{
  display: block;
  position: absolute;
  right:30px;
  top:30px;
  font-size:30px;
  color:white;
  span{
    color:white;
    font-size:16px;
  }
}



.folder{
  @size : 120px;
  position:absolute;
  width : @size;
  height : @size;
  background: @c1 url(../img/Folder.png) center 10px no-repeat;
  background-size:@size*0.7;
  &.youtube{
    background: @c2 url(../img/Folder.png) center 10px no-repeat;
    background-size:@size*0.7;
    &:after{
      position:absolute;
      width:16px;
      height:16px;
      background: url(http://www.youtube.com/favicon.ico) left top no-repeat;
      content : "";
      right : 10px;
      top : 10px;
    }
  }
  .name{
    position: relative;
    top:@size - 20px;
    font-size:10px;
    text-align: center;
    line-height:20px;
    padding:0 10px 0 10px;
    width:@size - 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.external{
  padding-right:22px;
  background:url(../img/icon-external-link.gif) right center no-repeat;
  background-size: 18px 12px;
}

.link{
  @h :30px;
  @w : 300px;
  @grey : #c7c7c7;
  @grey-dark : #999;
  
  position:absolute;
  height:@h;
  width: @w;
  border:1px solid @grey;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  .shadow;
  background:white;

  .state-paste-url{
    display: none;
    input{
      width:300px;
      border:0;
      line-height: 30px;
    }
  }
  .state-ready{
    .link-body{
      .icon{
        height:@h;
        width:35px;
        overflow: hidden;
        img{
          position:absolute;
        }
      }
      a.title{
        color:#333;
        text-decoration:none;
        font-size:12px;
        line-height:@h;
        position:absolute;
        left:35px;
        top:0;
        width:@w - 35px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .link-details{
    @size : 10px;
    @w1 : 398px;
    @h1 : 300px;
    position: absolute;
    top: (@h + @size);
    left : (@w - @w1) / 2;
    width:@w1;
    //height:@h1;
    background: white;
    .shadow;
    
    @size1 : calc((@w1 - 400px)/2);
    img.thumb{
      width:400px;
      margin-top:@size1;
      margin-left:@size1;
    }
    
    .texts{
      margin-left:@size1;
      margin-bottom:@size1;
      padding:20px;
      padding-top:5px;
      h1{
        padding-top:5px;
        font-size:13px;
        color:@c1;
        p{
          padding-top:5px;
        }
        a.from{
          color:#888;
          font-size:12px; 
        }
      }
      p.desc{
        padding-top:15px;
        padding-bottom:25px;
        line-height: 19px;
        color:#444;
      }
      div.more{
        position:absolute;
        right:15px;
        bottom:15px;
        div.arrow-right{
          width: 0; 
          height: 0; 
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 5px solid black;
          position:absolute;
          right:4px;
          top:1px;
        }
        a{
          padding-right:15px;
        }
      }
    }

    .arrow-up{
        width: 0; 
        height: 0; 
        border-left: @size solid transparent;
        border-right: @size solid transparent;
        
        border-bottom: @size solid white;
        position: absolute;
        top:-@size;
        left : calc((@w1 - @size)/2);
    }
    .arrow-down{
        display: none;
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        
        border-top: 20px solid #f00;
    }
  }
}