@import "reset.css";
@import "lib";
@import "linklies-font-1/styles.css";
@import "macaron";
@import "theme";
@import "ui";

body,html{
	//background: @bg-color;
}

//@import "context-menu";
//@import "browser";

span{
	font-size : 500px;
	padding:200px;
	color : @dark;
}

