@c1 : #518C7C;
@c2 : #C6D9B4;
@c3 : #EDF2C4;
@c4 : #A6986D;

//@bg-color : #dde6e4;

@blue : #4b9884;
//@green : #c9dabb;
@green : #aacc8e;
@red : #cd342e;
@orange : #fe9d04;
//@brown : #876631;
@brown : darken(@bg-color, 40%);
@yellow : #faec0a;
@bg-color : #f0f1e3;
@dark:#292821;


.gf-1{
  font-family: "Droid Sans";
}
.gf-2{
  font-family: "Roboto";
}
.gf-3{
  font-family: "Rosario";
}
body, html{
  width : 100%;
  height : 100%;

  *{
    font-family:"Ubuntu Condensed", "微軟正黑體";
    font-size:12px;
  }
  a{
    text-decoration: none;
  }
}

