<div class="browser">
	<div class="iframe-wrap">
		<iframe src="http://www.inside.com.tw/2014/02/21/bars-wants-to-be-xiaomi-in-taiwan-on-flying" frameborder="0"></iframe>
	</div>
	<div class="bg"></div>

	<div class="btns">
		<div class="btn close">
			<span data-icon="q" ng-click="data.show=false"></span>	
		</div>
		<div class="btn share">
			<div class="qrcode-hoder">
				<img src="{{qrcodeUrl}}" />
			</div>
			<input type="text" name="short-url" value="goo.gl/MxLWFY">
			<p>
				<span class="click-num">24</span>
				<span>clicks</span>
			</p>

			<!-- <div class="social">
				<span data-icon="h"></span>
				<span data-icon="i"></span>
				<div style="clear:both"></div>
			</div> -->
		</div>
		<!-- <div class="btn">
			<span data-icon="q" ng-click="closeBrowser()"></span>	
		</div> -->
	</div>
</div>