<ul class="context-menu" ng-style="{
	left : context.left,
	top : context.top,
	display : context.show ? 'block' : 'none'
}">
	<li ng-repeat="opt in context.set.options" ng-click="onItemClick($event, opt)">
		<span class="icon" data-icon="{{opt.icon}}"></span>
		<a href="{{context.href}}" target="_blank">{{opt.label}}</a>
		<ul ng-if="opt.options.length > 0">
			<span class="icon icon-child" data-icon="7"></span>
			<li ng-repeat="copt in opt.options" ng-click="onItemClick($event, copt)">
				<span class="icon" data-icon="{{copt.icon}}"></span>
				<a href="">{{copt.label}}</a>
			</li>
		</ul>
	</li>
	<!-- <li>
		<span class="icon" data-icon="d"></span><span>New</span>
		<ul>
			<span class="icon icon-child" data-icon="V"></span>
			<li><span class="icon" data-icon="a"></span><a href="">Folder</a></li>
			<li><span class="icon" data-icon="l"></span><a href="">Video Folder</a></li>
			<li><span class="icon" data-icon="R"></span><a href="">Doc Folder</a></li>
			<li><span class="icon" data-icon="v"></span><a href="">Link</a></li>
		</ul>
	</li>
	<li>
		<span class="icon" data-icon="b"></span><a href="">Upload</a>
	</li>
	<li>
		<span class="icon" data-icon="L"></span><a href="">Delete</a>
	</li> -->
</ul>