<div class="link-list" ng-show="linkList.show">
	<div class="holder">

		<!-- arrows -->
		<div class="arrow arrow-left"></div>
		<div class="arrow arrow-right"></div>
		
		<!-- buttons -->
		<ul class="top-buttons">
			<li class="left" ng-click="deleteFolder()">
				<a>
					<span data-icon="z">
						<span>Delete Folder</span>
					</span>
				</a>
			</li>
			<li class="right">
				<a href="{{linkList.folderUrl}}" target="_blank">
					<span data-icon="x">
						<span>Slider View</span>
					</span>
				</a>		
			</li>
		</ul>

		<ul class="link-list-items">
			<li ng-repeat="link in linkList.content">
				<img src="{{link.ico}}" alt="">
				<a href="{{link.url}}" target="_blank">{{link.title}}</a>
				<i data-icon="x"></i>
				<div data-icon="v"  ng-click="deleteLink(link.uuid)">
					<ul>
						<li data-icon="I">
							<a href="">delete</a>
						</li>	
					</ul>
				</ul>
			</li>
		</ul>	
	</div>
</div>