<div class="link-list" ng-show="linkList.show">
	<div class="holder">

		<!-- arrows -->
		<div class="arrow arrow-left"></div>
		<div class="arrow arrow-right"></div>
		
		<!-- buttons -->
		<p>
			<a data-icon="x" href="{{linkList.folderUrl}}" target="_blank">Folder View</a>
		</p>
		<ul class="left-buttons">
			<li data-icon="z" ng-click="deleteFolder()"><span>delete folder</span></li>
		</ul>

		<ul class="link-list-items">
			<li ng-repeat="link in linkList.content">
				<img src="{{link.ico}}" alt="">
				<a href="{{link.url}}" target="_blank">{{link.title}}</a>
				<i data-icon="x"></i>
				<div data-icon="v"  ng-click="deleteLink(link.uuid)">
					<ul>
						<li data-icon="I">
							<a href="">delete</a>
						</li>	
					</ul>
				</ul>
			</li>
		</ul>	
	</div>
</div>