<div class="link-list" ng-show="linkList.show">
	<div class="holder">

		<!-- arrows -->
		<div class="arrow arrow-left"></div>
		<div class="arrow arrow-right"></div>
		
		<!-- bridge -->
		<div class="bridge-left"></div>
		<div class="bridge-right"></div>

		<!-- buttons -->
		<!-- <ul class="top-buttons">
			<li class="left" ng-click="deleteFolder()" >
				<a>
					<span data-icon="z">
						<span>Delete Folder</span>
					</span>
				</a>
			</li>
			<li class="middle" ng-click="editFolder()" >
				<a>
					<span data-icon="g">
						<span>Edit Folder</span>
					</span>
				</a>
			</li>
			<li class="right">
				<a href="{{linkList.folderUrl}}" target="_blank">
					<span data-icon="x">
						<span>Browse All</span>
					</span>
				</a>		
			</li>
		</ul> -->

		<ul class="link-list-items">

			<li ng-repeat="link in linkList.content" ng-mouseenter="onListItemHover($index)" ng-mouseleave="onListItemOut()" bo-class="link.view" ng-class="{
				selected : linkList.selectedIndex === $index
			}" title="{{link.title}}">
				
				<img src="{{link.ico}}" alt="">
				<a class="title" href="{{link.url}}" ng-click="onTitleClick($event, link)" target="_blank">{{link.title}}</a>

				<ul class="options" ng-init="otherItemIsHoverd = false">

					<li class="delete" 
						ng-mouseenter="otherItemIsHoverd = true" 
						ng-mouseleave="otherItemIsHoverd = false"
						ng-click="deleteLink(link)"
						data-icon="I" 
						title="delete"></li>

					<li class="share"
						title="share to facebook"
						ng-mouseenter="otherItemIsHoverd = true" 
						ng-mouseleave="otherItemIsHoverd = false"
						ng-click="openPopup('share', link)"
						data-icon="U" ></li>

					<li class="edit"
						title="edit link"
						ng-mouseenter="otherItemIsHoverd = true" 
						ng-mouseleave="otherItemIsHoverd = false"
						ng-click="openPopup('edit', link)"
						data-icon="g"></li>
					
					<li ng-class="{hover : (!link.allowIframe) && link.hover === true && (!otherItemIsHoverd)}"
						ng-mouseenter="otherItemIsHoverd = true" 
						ng-mouseleave="otherItemIsHoverd = false"
						class="openInTab" 
						title="open in new tab"
						data-icon="x">
						<a class="icon" href="{{link.url}}" target="_blank"></a>
					</li>

					<!-- <li ng-show="link.view === 'video'"
						ng-mouseenter="otherItemIsHoverd = true" 
						ng-mouseleave="otherItemIsHoverd = false"
						class="playVideo" 
						title="play video"
						data-icon="j">
						<a class="icon" href="{{link.url}}" target="_blank"></a>
					</li> -->

				</ul>
				
			</li>
		</ul>	
		

		<ul class="folder-options" ng-init="otherItemIsHoverd = false">

			<li class="delete" 
				ng-click="deleteFolder()"
				data-icon="0" 
				title="delete"></li>

			<li class="share"
				title="share folder"
				ng-click="openPopup('share', data)"
				data-icon="U" ></li>

			<li class="edit"
				title="edit link"
				ng-click="openPopup('edit', data)"
				data-icon="g"></li>
			
			<a class="icon" href="{{linkList.folderUrl}}" target="_blank">
			<li class="openInTab" 
				title="open in new tab"
				data-icon="x">
				
			</li>
			</a>

			<!-- <li ng-show="link.view === 'video'"
				ng-mouseenter="otherItemIsHoverd = true" 
				ng-mouseleave="otherItemIsHoverd = false"
				class="playVideo" 
				title="play video"
				data-icon="j">
				<a class="icon" href="{{link.url}}" target="_blank"></a>
			</li> -->

		</ul>
	</div>

	<div class="selected-content" ng-show="linkList.show" ng-class="{
		left : dir === 'left',
		right : dir === 'right'
	}">
		<!-- <div class="head">
			<h1 class="title">{{linkList.selectedLink.title}}</h1>
			<ul class="options" ng-init="otherItemIsHoverd = false">

				<li class="delete" 
					ng-mouseenter="otherItemIsHoverd = true" 
					ng-mouseleave="otherItemIsHoverd = false"
					data-icon="I" 
					title="delete"></li>
				<li class="share"
					title="share to facebook"
					ng-mouseenter="otherItemIsHoverd = true" 
					ng-mouseleave="otherItemIsHoverd = false"
					data-icon="U" ></li>

				<li class="edit"
					title="edit link"
					ng-mouseenter="otherItemIsHoverd = true" 
					ng-mouseleave="otherItemIsHoverd = false"
					data-icon="g"></li>
				
				<li ng-class="{hover : (!link.allowIframe) && link.hover === true && (!otherItemIsHoverd)}"
					ng-mouseenter="otherItemIsHoverd = true" 
					ng-mouseleave="otherItemIsHoverd = false"
					class="openInTab" 
					title="open in new tab"
					data-icon="x">
					<a class="icon" href="{{link.url}}" target="_blank"></a>
				</li>

				<li ng-show="link.view === 'video'"
					ng-mouseenter="otherItemIsHoverd = true" 
					ng-mouseleave="otherItemIsHoverd = false"
					class="playVideo" 
					title="play video"
					data-icon="j">
					<a class="icon" href="{{link.url}}" target="_blank"></a>
				</li>

			</ul>
		</div> -->
		<img img-watcher src="{{linkList.selectedLink.images[linkList.selectedLink.thumbIndex]}}" alt="">
		
		<div class="img-holder">
			
		</div>
	</div>
</div>

<div class="overlay" ng-show="linkList.show" ></div>