<div class="state-paste-url">
	<input />
</div>
<div class="state-ready">
	<div class="link-body">
		<div class="icon" style="background:url(http://www.youtube.com/favicon.ico) center center no-repeat">
			<!-- <img src="http://www.youtube.com/favicon.ico" /> -->
		</div>
		<a class="title" target="_blank" ng-style="{
			width : grid.linkWidth - 35
		}">{{link.pageTitle}}</a>
	</div>
	<div class="link-details hide">
		<div class="arrow arrow-up"></div>
		<div class="arrow arrow-down"></div>

		<div class="page page-1">
			<img class="thumb" ng-src="{link.thumb}">
			<div class="texts">
				<h1>
					{{link.contentTitle}}
					<p><a class="from external" href="www.youtube.com" target="_blank">{{link.from}}</a></p>
				</h1>
				<p class="desc">{{link.desc}}</p>	
				<div class="more">
					<div class="arrow-right"></div>
					<a href="">Next</a>	
				</div>
			</div>	
		</div>
	</div>
</div>