<div id="{{data.id}}" class="link {{data.state.name}} {{data.type.name.split('.').join('-')}}" data-grid="{{data.grid}}" ng-style="linkStyle()">
	<div class="state-paste-url"  ng-show="checkState('paste-url')" ng-style="{
		height : grids.gridHeight
	}">
		<span data-icon="g" ng-style="{
			display:block,
			top : grids.linkSize.height / 2 - 8
		}">
			<input placeholder="Paste url here" ng-style="{
				width : grids.linkSize.width - 45,
				height : grids.linkSize.height - 10,
				top : 0
			}" xng-focus="data.state.focus" value="" ng-paste="onPasted($event.originalEvent.clipboardData.getData('text/plain'))" />
		</span>
		
	</div>
	<div class="state-loading" ng-show="checkState('loading')">
		<!-- <span data-icon="g" ng-style="{
			display:block,
			top : grids.linkSize.height / 2 - 10,
			height : grids.linkSize.height - 10
		}"> -->
		<img class="loader" src="img/loader-1.gif" ng-style="{
			top : grids.linkSize.height / 2 - 3,
			height : grids.linkSize.height - 14 ,
			display : none
		}" alt="">
		<div class="no-icon" ng-show="!iconLoaded" ng-style="{
				top : (grids.gridHeight - 12) / 2
			}"></div>
		<span ng-style="{
			display:block,
			top : grids.linkSize.height / 2 - 10,
			height : grids.linkSize.height - 10
		}">
			<p class="url" ng-style="{
				width : grids.linkSize.width - 35,
				lineHeight : grids.gridHeight + 'px'
			}">{{data.url}}</p>	
		</span>
		<!-- </span> -->
	</div>
	<div class="state-ready" ng-show="checkState('ready')" ng-style="{
		height : grids.gridHeight
	}">
		<div class="link-body" ng-style="{
		height : grids.gridHeight
	}">
			<div class="icon" style="" ng-show="data.view === 'default' || true">
				<img class="ico" ng-show="iconLoaded" ng-src="{{data.type.ico || data.ico}}" alt="">
			</div>

			<div class="no-icon" ng-show="!iconLoaded" ng-style="{
				top : (grids.gridHeight - 12) / 2
			}"></div>
			
			<div class="icon-video" ng-show="data.view === 'video'">
				<!-- <span data-icon="l" ng-hide></span> -->
			</div>

			<div class="icon-doc" ng-show="data.view === 'doc'">
				<span data-icon="R"></span>
			</div>

			<a class="title" target="_blank" ng-style="{
				width : data.view === 'default' ? grids.linkSize.width - 35 : grids.linkSize.width - 45,
				lineHeight : grids.gridHeight + 'px'
			}">{{data.title}}</a>

			<div class="opt" ng-show="showOpt">
				<a data-icon="q" ng-click="removeLink()"></a>
				<!-- <a data-icon="c" href="{{data.url}}" target="_blank"></a>
				<a data-icon="w"></a> -->
				<div class="bg"></div>
			</div>
		</div>
		<div class="link-details {{data.view}}" ng-show="showDetail && (data.dragging == false || data.dragging == 'false' || data.dragging == 0)">
			<div class="arrow arrow-up" ng-show="!isPlayingVideo"></div>
			<div class="arrow arrow-down"></div>
			<div class="spacer"></div>

			<div class="funcs">
				<span data-icon="C" ng-click="openPage()" ng-show="data.allowIframe"></span>
				<span data-icon="p"></span>
				<span data-icon="H" ng-show="view === 'video'"></span>
			</div>

			<div class="detail-wrap {{data.view}}">

				<div class="close-btn" ng-show="isPlayingVideo" ng-click="stopVideo()">
					<span data-icon="q"></span>
				</div>
				
				<div class="texts">
					<h1>{{data.title}}<!-- <p><a class="from external" href="www.youtube.com" target="_blank">{{data.meta.url.host}}</a></p> --></h1>
					<!-- <p class="desc">{{data.meta.description}}</p>	 -->
					<div class="more">
						<div class="arrow-right"></div>
						<a href="{{data.url}}" target="_blank">Go To URL</a>	
					</div>
				</div>

				<div class="player-holder">
					<iframe style="display:none" src="" width="100%" height="100%" frameborder="0"></iframe>
				</div>
				
				<div class="img" ng-show="hasImageArea" ng-show="!isPlayingVideo">
					<img class="thumb" class="{{iconHover ? 'icon-hover' : ''}}" ng-src="{{data.thumb}}">
					<span class="thumb-icon" data-icon="l" ng-show="data.view == 'video'" ng-click="playVideo()">
					</span>	
					<div class="video-bg" ng-show="data.view == 'video'"></div>
				</div>
					
				<ul class="search" ng-show="data.view == 'search'">
					<li ng-repeat="rs in data.type.results">
						<a href="{{rs.href}}" target="_blank">{{rs.title}}</a>
						<span class="date">{{rs.date}}</span>
						<span data-icon="s" class="remove" ng-click="removeResult($index)"></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
