<div class="link-details {{data.view}}" ng-show="showDetail && (data.state.name === 'ready') && (data.dragging == false || data.dragging == 'false' || data.dragging == 0)">
	<div class="arrow arrow-up" ng-show="!isPlayingVideo"></div>
	<div class="arrow arrow-down"></div>
	<div class="spacer"></div>

	<div class="funcs">
		<span data-icon="d" ng-click="openPage()" bo-show="data.allowIframe"></span>
		<span data-icon="k"></span>
		<span data-icon="H" ng-show="view === 'video'"></span>
	</div>

	<div class="detail-wrap {{data.view}}">

		<div class="close-btn" ng-show="isPlayingVideo" ng-click="stopVideo()">
			<span data-icon="I"></span>
		</div>
		
		<div class="texts">
			<h1>{{data.title}}</h1>
			<div class="more">
				<a bo-href="data.url" target="_blank"> <span data-icon="x"></span></a>	
			</div>
		</div>

		<div class="imgArea" ng-include="templates.type"></div>
		
	</div>
</div>