<div class="link-popup">
	<div class="panel" ng-class="{
		share : !shared && tab === 'share',
		shared : shared,
		edit : tab === 'edit'
	}">
		<ul class="tabs">
			<li ng-click="tab='edit'" data-icon="g" ng-class="{selected : tab === 'edit'}">edit</li>
			<li ng-click="tab='share'"  data-icon="U" ng-class="{selected : tab === 'share'}">share</li>
		</ul>
		<div class="edit" ng-show="tab ==='edit'">
			<input type="text" class="title" value="{{link.title}}">
			<div class="imgs">

				<img ng-repeat="img in link.images track by $index" ng-class="{
					thumb : true,
					selected : $index === link.thumbIndex
				}" ng-click="onImgClick($event)" ng-src="{{img}}">

				<!-- <div class="selected-border"></div> -->
				<div class="btn-del" ng-show="hoverImg !== false" ng-click="deleteHoverdImg()" data-icon="I" 
					></div>
				<p class="no-img" ng-show="link.images.length === 0">No Image Found</p>	
			</div>
			<p class="img-count" ng-show="link.images.length > 0">
				<span class="count">{{link.images.length}}</span> image<span ng-if="link.images.length > 1">s</span> found 
				<a href="">save to google drive</a>
			</p>
		</div>
		<div class="share" ng-show="tab ==='share' && !shared">
			<p class="short-url">
				<!-- <span>goo.gl/4jyuub</span> -->
				<!-- <input type="checkbox" name="useShortenUrl" checked="checked">Use shorten url -->
			</p>
			<textarea class="say-something" placeholder="say something...."></textarea>
			<div class="img-wrap">
				<img class="thumb" ng-src="{{link.images[link.thumbIndex]}}"></img>
				<p class="title">{{link.title}}</p>
				<p class="desc">{{link.meta.description}}</p>
			</div>
		</div>
		<div class="shared" ng-show="tab =='share' && shared">
			<p class="short-url">
				<span>{{link.short_url}]</span>
			</p>
			<p class="clicks">
				<span class="click-count">{{link.clicks}}</span> clicks
			</p>
			<div class="hr"></div>
			<p class="say-something">
				{{link.comment}}
			</p>
			<div class="img-wrap">
				<img class="thumb" ng-src="{{link.images[link.thumbIndex]}}"></img>
				<p class="title">{{link.title}}</p>
				<p class="desc">{{link.description}}</p>
			</div>
		</div>
		<div class="btns">
			<button class="share" ng-show="tab ==='share' && (!shared)">Share</button>
			<button class="close" ng-click="onPopupClose()">Close</button>
		</div>
	</div>
</div>