@charset "UTF-8";

@font-face {
  font-family: "linklies-icons-1";
  src:url("fonts/linklies-icons-1.eot");
  src:url("fonts/linklies-icons-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/linklies-icons-1.woff") format("woff"),
    url("fonts/linklies-icons-1.ttf") format("truetype"),
    url("fonts/linklies-icons-1.svg#linklies-icons-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linklies-icons-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linklies-icons-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrows-compress:before {
  content: "a";
}
.icon-arrows-expand:before {
  content: "b";
}
.icon-arrows-in:before {
  content: "c";
}
.icon-arrows-out:before {
  content: "d";
}
.icon-play:before {
  content: "e";
}
.icon-photo:before {
  content: "f";
}
.icon-pencil:before {
  content: "g";
}
.icon-mail:before {
  content: "h";
}
.icon-fontawesome-webfont:before {
  content: "i";
}
.icon-fontawesome-webfont-1:before {
  content: "j";
}
.icon-fontawesome-webfont-2:before {
  content: "k";
}
.icon-fontawesome-webfont-3:before {
  content: "l";
}
.icon-fontawesome-webfont-4:before {
  content: "m";
}
.icon-fontawesome-webfont-5:before {
  content: "n";
}
.icon-fontawesome-webfont-6:before {
  content: "o";
}
.icon-fontawesome-webfont-7:before {
  content: "p";
}
.icon-fontawesome-webfont-8:before {
  content: "q";
}
.icon-fontawesome-webfont-9:before {
  content: "r";
}
.icon-fontawesome-webfont-10:before {
  content: "s";
}
.icon-fontawesome-webfont-11:before {
  content: "t";
}
.icon-fontawesome-webfont-12:before {
  content: "u";
}
.icon-fontawesome-webfont-13:before {
  content: "v";
}
.icon-fontawesome-webfont-14:before {
  content: "w";
}
.icon-fontawesome-webfont-15:before {
  content: "x";
}
.icon-fontawesome-webfont-16:before {
  content: "y";
}
.icon-fontawesome-webfont-17:before {
  content: "z";
}
.icon-fontawesome-webfont-18:before {
  content: "A";
}
.icon-fontawesome-webfont-19:before {
  content: "B";
}
.icon-fontawesome-webfont-20:before {
  content: "C";
}
.icon-fontawesome-webfont-21:before {
  content: "D";
}
.icon-fontawesome-webfont-22:before {
  content: "E";
}
.icon-fontawesome-webfont-23:before {
  content: "F";
}
.icon-fontawesome-webfont-24:before {
  content: "G";
}
.icon-fontawesome-webfont-25:before {
  content: "H";
}
.icon-cancel:before {
  content: "I";
}
.icon-ccw:before {
  content: "J";
}
.icon-cog:before {
  content: "K";
}
.icon-dot:before {
  content: "L";
}
.icon-dot-2:before {
  content: "M";
}
.icon-dot-3:before {
  content: "N";
}
.icon-check:before {
  content: "O";
}
.icon-gplus:before {
  content: "P";
}
.icon-folder:before {
  content: "Q";
}
.icon-pause:before {
  content: "R";
}
.icon-play-1:before {
  content: "S";
}
.icon-plus-squared:before {
  content: "T";
}
.icon-share:before {
  content: "U";
}
.icon-shuffle:before {
  content: "V";
}
.icon-user:before {
  content: "W";
}
.icon-users:before {
  content: "X";
}
.icon-yelp:before {
  content: "Y";
}
.icon-elusive-icons:before {
  content: "Z";
}
.icon-elusive-icons-1:before {
  content: "0";
}
.icon-elusive-icons-2:before {
  content: "1";
}
.icon-elusive-icons-3:before {
  content: "2";
}
.icon-elusive-icons-4:before {
  content: "3";
}
.icon-elusive-icons-5:before {
  content: "4";
}
.icon-elusive-icons-6:before {
  content: "5";
}
.icon-elusive-icons-7:before {
  content: "6";
}
.icon-elusive-icons-8:before {
  content: "7";
}
.icon-elusive-icons-9:before {
  content: "8";
}
.icon-elusive-icons-10:before {
  content: "9";
}
.icon-elusive-icons-11:before {
  content: "!";
}
.icon-elusive-icons-12:before {
  content: "\"";
}
.icon-elusive-icons-13:before {
  content: "#";
}
.icon-elusive-icons-14:before {
  content: "$";
}
.icon-elusive-icons-15:before {
  content: "%";
}
.icon-elusive-icons-17:before {
  content: "'";
}
.icon-elusive-icons-18:before {
  content: "(";
}
.icon-elusive-icons-20:before {
  content: "*";
}
.icon-elusive-icons-21:before {
  content: "+";
}
.icon-comments:before {
  content: ",";
}
.icon-folder-lock:before {
  content: "-";
}
.icon-key:before {
  content: ".";
}
.icon-social-twitter:before {
  content: "/";
}
.icon-social-facebook:before {
  content: ":";
}
.icon-widget:before {
  content: ";";
}
.icon-info:before {
  content: "<";
}
.icon-elusive-icons-22:before {
  content: "=";
}
.icon-elusive-icons-23:before {
  content: ">";
}
.icon-elusive-icons-24:before {
  content: "?";
}
.icon-elusive-icons-25:before {
  content: "@";
}
.icon-ionicons:before {
  content: ")";
}
.icon-ionicons-1:before {
  content: "[";
}
.icon-ionicons-2:before {
  content: "]";
}
.icon-elusive-icons-19:before {
  content: "^";
}
.icon-elusive-icons-26:before {
  content: "_";
}
.icon-elusive-icons-16:before {
  content: "&";
}
.icon-elusive-icons-27:before {
  content: "`";
}
.icon-social-squidoo:before {
  content: "{";
}
.icon-clock:before {
  content: "|";
}
.icon-upload-cloud:before {
  content: "}";
}
.icon-ionicons-3:before {
  content: "~";
}
.icon-ionicons-4:before {
  content: "\";
}
.icon-page:before {
  content: "\e000";
}
.icon-xing:before {
  content: "\e001";
}
.icon-fontawesome-webfont-26:before {
  content: "\e002";
}
.icon-fontawesome-webfont-27:before {
  content: "\e003";
}
.icon-ionicons-5:before {
  content: "\e004";
}
.icon-link:before {
  content: "\e005";
}
